<footer>
	<a
		href="https://twitter.com/kembec"
		target="_blank"
	>
		@Kembec
	</a>
</footer>
<style>
	footer {
		@apply border-t border-zinc-800 mt-auto flex flex-col h-16;
	}
	footer > * {
		@apply m-auto;
	}

	a {
		@apply text-zinc-500;
	}
</style>
