---
import Logo from "@assets/logo.astro";
---

<header>
	<a href="/">
		<Logo />
	</a>
</header>

<style>
	header {
		@apply flex flex-nowrap py-5 border-b border-white/5 space-x-5 justify-between h-16;
	}
	header > a {
		@apply flex flex-nowrap items-center space-x-2 text-base;
	}
</style>
