---
import AllPlugins from "@components/plugins/AllPlugins.vue";
import LayoutPlugin from "@layouts/LayoutPlugin.astro";
---

<LayoutPlugin
	title="My plugins for TailwindCSS"
	description=""
	canonical="/plugins"
>
	<h1>Plugins for TailwindCSS</h1>
	<AllPlugins />
</LayoutPlugin>
