---
import Header from "./components/Header.astro";
import Footer from "./components/Footer.astro";

interface Props {
	title: string;
	description: string;
	canonical: string;
}

const { title, description, canonical } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title} | Kembec</title>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<meta name="description" content={description} />
		<meta property='twitter:creator' content='@Kembec' />
		<meta name='robots' content='index,follow' />
		<link rel='canonical' href={canonical} />

		<!-- Style -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />

		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
		<link rel="manifest" href="/favicon/site.webmanifest" />
		<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5" />
		<link rel="shortcut icon" href="/favicon/favicon.ico" />
		<link rel="icon" href="/favicon/favicon.svg" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="msapplication-config" content="/favicon/browserconfig.xml" />
		<meta name="theme-color" content="#ffffff" />
	</head>
	<body class="base">
		<Header />
		<article>
			<slot />
		</article>
		<Footer />
	</body>
</html>
<style is:global>
	html {
		font-family:
			Inter var,
			ui-sans-serif,
			system-ui,
			sans-serif,
			Apple Color Emoji,
			Segoe UI Emoji,
			Segoe UI Symbol,
			Noto Color Emoji;
		@apply bg-slate-900 text-slate-50;
	}

	.base {
		@apply flex flex-col w-full;
	}
	.base > * {
		@apply lg:px-[10vw] px-5;
	}

	.base > article {
		@apply py-5 flex flex-col space-y-5;
	}

	.base > article > h1 {
		@apply text-5xl font-bold text-center mt-10 mb-16;
	}
	.base > article > h2 {
		@apply text-3xl font-semibold tracking-wider !mb-5;
	}
	.base > article section {
		@apply flex flex-col w-full;
	}
</style>
